.ws-background {
  /* background-image: url("../../public/images/italian-ingredients.webp"); */
  background-image: url('../../public/images/changing-lives-6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.ws-overlap {
  height: 100vh;
}
.ws-nav-bar {
  opacity: 0.95;
}
