.box-sizing {
    box-sizing: border-box;
}
.wd-img-overlap {
    position: relative;
    top: -100px;
    /*left: -25%;*/
}
.image-container{
    position: relative;
}
.main_image{
    width: 100%;
    height: 100%;
}
.overlay_image{
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid white;
}